.analytic {
  margin: 20px;
}

.analytic .analytic-navbar {
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  /* background-color: #ddd; */
  border: none;
  border-radius: 5px;
}
.analytic .analytic-navbar-title {
  margin: 0 20px;
  padding-bottom: 0px;
  font-weight: 500;
  font-size: 19px;

  /* border-bottom: 1px solid #087b39; */
}
.analytic .analytic-navbar-title:nth-child(1) {
  margin-left: -15px;
  /* margin: 0 0; */
}
.analytic .analytic-navbar-title.active {
  padding-bottom: 8px;
  color: #087b39;
  border-bottom: 2px solid #087b39;
}
.analytic .analytic-navbar-title:hover {
  color: #087b39;
  transition: ease-in 0.2s;
  cursor: pointer;
  padding-bottom: 8px;

  border-bottom: 2px solid #087b39;
}
.analytic .analytic-chart {
  margin-bottom: 20px;
}
.analytic .analytic-chart .analytic-chart-section {
  margin: 20px 0;
  min-width: 1229px;
}

.analytic .analytic-chart .analytic-chart-section .form-date-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.analytic .analytic-chart .analytic-chart-section .form-date-item {
  margin-right: 20px;
}
.analytic .analytic-chart .analytic-chart-section .form-date-item .btn-submit,
.analytic .analytic-chart .analytic-chart-section .form-date-item .btn-export {
  margin-top: 8px;
}
.analytic .analytic-chart .analytic-chart-section .loading-data {
  display: flex;
  align-items: center;
}
.analytic
  .analytic-chart
  .analytic-chart-section
  .form-date-item
  .btn-submit
  button {
  width: 100px;
  border: none;
  padding: 15px 5px;
  background-color: rgb(170, 43, 20);
  border-radius: 5px;
  cursor: pointer;
  color: #ffff;
  display: block;
}
.analytic
  .analytic-chart
  .analytic-chart-section
  .form-date-item
  .btn-export
  button {
  width: 100%;
  border: none;
  padding: 15px 5px;
  background-color: rgb(14, 156, 38);
  border-radius: 5px;
  cursor: pointer;
  color: #ffff;
  display: block;
}
.analytic .chart-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(236, 245, 236);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  /* padding-bottom: 0px; */
  /* align-items: center; */
}
.analytic .chart-container .chart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
}
.analytic .chart-container .chart-line-item {
  display: block;
  width: 1000px !important;
}
.analytic .chart-container .chart-item .chart-item-title {
  position: relative;
  top: 50px;
}
.analytic .chart-container .chart-item .chart-item-title span {
  font-size: 22px;
  font-weight: 700;
}
.analytic .chart-container .chart-line-item {
  text-align: center;
}
.analytic .chart-container .chart-line-item span {
  font-size: 22px;
  font-weight: 700;
}
.analytic .chart-container .chart-item-usertype {
  /* width: 550px !important;
  height: 550px !important; */
}
.analytic .chart-container .chart-item {
  width: 500px !important;
  height: 500px !important;
}
.analytic .chart-container .chart-item .chart-canvas-payment {
  display: block;
  width: 450px !important;
  height: 450px !important;
}
.analytic .chart-container .chart-item .chart-canvas-cate {
  margin-top: -50px;
  display: block;
  width: 540px !important;
  height: 540px !important;
}
.analytic .chart-container .chart-item .chart-canvas-orderstt {
  margin-top: -15px;
  display: block;
  width: 480px !important;
  height: 480px !important;
}
