.sidebar_widget .widget_list {
  margin-bottom: 33px;
}

.sidebar_widget .widget_categories,
.sidebar_widget .widget_prices,
.sidebar_widget .widget_tags {
  background-color: #fff;
  padding: 14px;
  width: 270px;
}
.widget_list h3 {
  font-size: 15px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.widget_list ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget_list ul li.active {
  font-weight: 700;
  color: #087b39;
  font-style: italic;
  padding-left: 15px;
}
.widget_list > ul > li,
.widget_list.widget_categories > ul > li.widget_sub_categories > span {
  position: relative;
  cursor: pointer;
}
.widget_list > ul > li:hover,
.widget_list.widget_categories > ul > li:hover {
  transform: translate(5px, 0px);
  transition: ease-out 0.3s;
  font-weight: 500;
  color: #087b39;
  background-color: #f1efef;
}
.widget_list.widget_categories > ul > li.active {
  font-weight: 500;
  padding-left: 15px;
  font-style: italic;
  color: #087b39;
}
.widget_list.widget_categories > ul > li > span {
  font-size: 15px;
  display: block;
  line-height: 30px;
  padding: 0 20px;
}
.widget_list .widget_filter {
  overflow: hidden;
  margin-bottom: 30px;
}
.widget_list .ui-slider-horizontal {
  height: 2px;
  background-color: #dbdbdb;
  border: none;
  width: 92%;
  margin: 0 auto;
  margin-bottom: 22px;
}
.widget_list .ui-corner-all {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.sidebar_widget .widget_prices .filter-prices {
  display: flex;
  padding: 10px;
  justify-content: space-around;
}
.sidebar_widget .widget_prices span {
  padding-top: 7px;
}
.sidebar_widget .widget_prices input {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px#e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: 90px;
}

.sidebar_widget .widget_tags .hint-search-btn {
  -webkit-tap-highlight-color: transparent;
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px#e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  /* max-width: 90px; */
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.sidebar_widget .widget_tags .hint-search-btn:hover {
  background-color: #087b39;
  color: #fff;
}
.sidebar_widget .widget_trends img {
  height: 285px;
}

.widget_prices .filter_result {
  display: flex;
  justify-content: space-between;
}
.widget_prices .filter_result button {
  -webkit-tap-highlight-color: transparent;
  background-color: #087b39;
  color: #fff;
  border-radius: 5px;
  border: solid 1px#e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.1px;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left !important;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  max-width: 90px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.widget_prices .filter_result button:hover {
  background-color: #0e9448;
}
