@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}

.login-page {
  background: #f6f5f7;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  /* height: calc(89vh); */
  margin: 20px 0 0;
  /* background-color: honeydew; */
}
.login-page span {
  font-size: 12px;
}

.login-page button {
  border-radius: 5px;
  border: 1px solid #087b39;
  background-color: #087b39;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 45px;
  transition: transform 80ms ease-in;
}

.login-page button:active {
  transform: scale(0.95);
}

.login-page button:focus {
  outline: none;
}

.login-page button.ghostlg {
  background-color: transparent;
  border-color: #ffffff;
}

.formlg {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.login-page input {
  background-color: rgb(253, 244, 244);
  border: none;

  width: 100%;
}

.containerlg {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  height: 530px;
  margin-top: -20px;
}

.form-containerlg {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-containerlg {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-containerlg .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  height: 25px !important;
  padding-bottom: 13px;
  padding-top: 10px;
}
.containerlg.right-panel-activelg .sign-in-containerlg {
  transform: translateX(100%);
}
.css-1wc848c-MuiFormHelperText-root {
  margin-top: 0px !important;
}
.sign-up-containerlg {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.sign-up-containerlg .input-field {
  margin-bottom: 55px !important;
}
.sign-up-containerlg .input-signup {
  margin: 10px 0px;
}
.containerlg.right-panel-activelg .sign-up-containerlg {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-containerlg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.containerlg.right-panel-activelg .overlay-containerlg {
  transform: translateX(-100%);
}

.overlaylg {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #087b39, #087b39);
  background: linear-gradient(to right, #5ce096, #087b39);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.containerlg.right-panel-activelg .overlaylg {
  transform: translateX(50%);
}

.overlay-panellg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-leftlg {
  transform: translateX(-20%);
}

.containerlg.right-panel-activelg .overlay-leftlg {
  transform: translateX(0);
}

.overlay-rightlg {
  right: 0;
  transform: translateX(0);
}

.containerlg.right-panel-activelg .overlay-rightlg {
  transform: translateX(20%);
}

.social-containerlg {
  margin: 10px 0;
}

.social-containerlg .social .btn-google-signup button {
  height: 38px;
  border-radius: 10px;
  overflow: hidden;
  outline: none;
}
.social-containerlg .social .btn-facebook-signup button {
  display: flex;
  background-color: #4267b2;
  width: 205px;
  height: 38px;
  border-radius: 10px;
  font-size: 10px;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
}
.social-containerlg .social .btn-facebook-signup button i {
  align-items: center;
  font-size: 18px;
  margin-right: 25px;
  margin-left: 14px;
}
.social-containerlg .social .btn-facebook-signup button:hover {
  background-color: #5f81c5;
}
.social-containerlg .social .btn-google-signup:hover {
  background-color: rgb(219, 219, 219) !important;
  box-shadow: none;
}
.social-containerlg .social .btn-google-signup button:hover {
  outline: none;
}
.social-containerlg a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.form-containerlg .input-field {
  margin-bottom: -2px !important;
}
.form-containerlg .input-login {
  margin: 20px 0px;
}
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
}

footer i {
  color: red;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
}
